button{
    margin-right: .5dvi;
    margin-left: .5dvi;
}

.screenContainer{
    margin-top: 5dvi;
    margin-right: 6dvi;
    margin-left: 6dvi;
    margin-bottom: 0dvi;
    padding-top: 2dvi;
    padding-bottom: 2dvi;
    padding-left: 2dvi;
    padding-right: 2dvi;
}

.keysContainer{
    margin-top: 1dvi;
    margin-right: 6dvi;
    margin-left: 6dvi;
    margin-bottom: 1dvi;
    padding-top: 2dvi;
    padding-bottom: 2dvi;
    padding-left: 2dvi;
    padding-right: 2dvi;
}

.plotContainer{
    margin-top: 1dvi;
    margin-right: 6dvi;
    margin-left: 6dvi;
    margin-bottom: 1dvi;
    padding-top: 2dvi;
    padding-bottom: 1dvi;
}

.screen{
    color: greenyellow;
    
    font-size: 4dvh;
    text-align: right;
    margin: 0dvi;
}

.screen:disabled{
    color: greenyellow;
    background-color: rgba(240, 248, 255, 0);
    font-size: 3dvi;
    text-align: right;
    margin: 0dvi;
}

.historial{
    font-weight: 700;

    margin-top: 1dvi;
    margin-right: 6dvi;
    margin-left: 6dvi;
    margin-bottom: 0dvi;

    padding-top: 2dvi;
    padding-bottom: 2dvi;
    padding-left: 2dvi;
    padding-right: 2dvi;
}

.summary{
    display: flex;
    justify-content: end; 
    padding: .5%;
}

.summary>p{
    margin: auto; 
    margin-left: 1dvi;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}

.summary>span{
    margin-left: auto;
    margin-right: 3dvi;
}

.historySnipet{
    margin:auto; 
    padding: 1dvi;
}

.historySnipetP{
    display: flexbox;
    justify-content:left; 
    margin-bottom: 0%;
}

.outline{
    justify-content: center;
    margin-bottom: 1dvi;
}

.accordion{
    margin-right: 6dvi;
    margin-left: 6dvi;
    margin-bottom: 5dvi;
    padding-top: 2dvi;
    padding-bottom: 2dvi;
    padding-right: 2dvi;
}

h2{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 0%;
}

.buttonsRow{
    display: flex;
    flex-direction:inherit;
    margin-bottom: 1dvi;
}

.calculatorContainer{
    margin-top: 1dvi;
    margin-right: 2dvi;
    margin-left: 2dvi;
    display: block;
    justify-content: center; 
}

.trigonometricCalculator{
    margin-top: 1dvi;
    margin-right: 2dvi;
    margin-left: 2dvi;
    display: block;
}
